# ===========================
# Node.js
# ===========================
node_modules/
npm-debug.log*
yarn-error.log*
yarn-debug.log*

# ===========================
# Next.js (Frontend)
# ===========================
.next/
out/

# ===========================
# Strapi (Backend)
# ===========================
build/
.cache/
.strapi/
.env
.env.*    # все env-файлы Strapi

# ===========================
# Docker
# ===========================
docker-compose.override.yml
*.env     # локальные env для Docker
*.log

# ===========================
# IDE / Системные файлы
# ===========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ===========================
# Логи и временные файлы
# ===========================
*.log
tmp/
dist/
coverage/

# ===========================
# Другие файлы
# ===========================
.clinerules/
.kilocode/
GEMINI.md
